/*----------DEFAULTS----------*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    
  /*#2C9A62; Darkest Green
    #49B17C; Dark Green
    #6FCC9D; Base Green
    #9DE3BF; Light Green
    #D0F5E2; Lighter Green*/
}

html{
    background-color: #ffffff;
}

a{
    text-decoration: none;
    color: #49B17C;
}

/*----------NAVBAR----------*/

#navbar{
    width: 100%;
    background-color: #D0F5E2;
    align-items: center;
}


#logo{
    height: 250px;
    width: auto;
    
}

.logo-wrapper{
    width: 100%;
    text-align: center;
    height: 250px;
}


#nav-list{
    width: 50%;
    text-align: center;
    display: inline;
    word-spacing: 2px;
}

.nav-link{
    display: inline-block;
    
}

.nav-content{
    display: none;
}


.dropbtn{
    width: 100%;
    height: 100px;
    font-size: 50px;
    -webkit-appearance: none;
    border-radius: 0;
    background-color: #6FCC9D;
    color: #FFFFFF; 
    border-style: none;
    
}


.dropdown {
  position: relative;
  display: inline-block;
    background-color: #ffffff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
    width: 100%;
}

.dropdown-content a {
  color:#2C9A62;
  padding-top:20px ;
  text-decoration: none;
  display: block;
  font-size: 50px;
    height: 100px;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropbtn {background-color: #6FCC9D;}

/*----------BANNER IMAGE/TYPEWRITER----------*/

.banner-img{
    width:100%;
    height: auto;
}

.typewriter{
    width: 100%;
    margin-top: -5px;
    background-color: #FFFFFF;
    height: 200px;
    display: none;
}

.typewriter h1{
    color: #000000;
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
}


.banner-text{
    position: absolute;
    top: 390px;
    font-size: 30px;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 5;
    text-align: center;
}

#mobile-banner-wrapper{
    background-color: #6FCC9D;
    height: 375px;
    margin-top: -6px;
    display: flex;
}

#mobile-banner-text{
    font-size: 70px;
    margin: auto;
    text-align: center;
    color: #FFFFFF; 
    font-family: 'Montserrat';
    width: 80%

}


.color-overlay{
    background-color:#6FCC9D;
    color: #6FCC9D;
    width: 100%;
    height: 276px;
    position: absolute;
    opacity: .75;
    
}

#welcome-wrapper{
    text-align: center;
    height: 310px;
    display: flex;
}

#welcome-text{
    margin: auto;
    font-size: 70px;
    color: #6FCC9D;
    margin-top: 30px;
    width: 91%;
    padding-top: 20px;
    
}


.welcome-paragraph-wrapper{
    display: flex;

}

#welcome-paragraph{
    margin: auto;
    text-align: center;
    font-size: 32px;
    width: 80%;
    padding-bottom: 110px;
    color: #404040;
}

#school-icon-wrapper{
    display: flex;
}

#school-icon{
    margin: auto;
    font-size: 100px;
    margin-bottom: 50px;
    color: #49B17C;
}


/*----------CARDS----------*/

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 90vw;
    box-shadow: 0px 0px 30px #a9a9a9;
    background-color: #6FCC9D;
    margin-bottom: 100px;
    border-radius: 30px
}


.welcome-image{
    width: 100%;
    border-radius: 30px;
    height:auto;
}

.card-text{
    font-size: 32px;
    text-align: center;
    border: 2px solid #6FCC9D;
    margin: 30px;
    padding-top: 75px;
    padding-bottom: 75px;
    border-radius: 20px;
    line-height: 2.5em;
    background-color: #D0F5E2;
    
}

.card-text h3{
    font-size: 60px;
    
}

.card-text p{
    font-size: 40px
}

.card-img img{
    height: 700px;
}

#footer-nav{
    background-color: #6FCC9D;
}

footer{
    background-color: #6FCC9D;
    padding-top: 50px;
}

.footer-links{
    color: #FFFFFF;
    font-size: 50px;
    display: block;
    text-align: center;
    padding: 20px;
}

.social-wrapper{
    display: flex;
    flex-direction: row;
    padding: 70px;
    margin: auto;
}

.social-links{
    font-size: 50px;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
    
}

.copywright-wrapper{
    
    background-color: #2C9A62;
    display: flex;
    height: 300px;
    margin: auto;
    justify-content: center;
}

.copywright-logo{
    align-self: center;
    height: 150px;
    margin-left: -20px;
}

.copywright-text{
    font-size: 40px;
    color: #FFFFFF;
    align-self: center;
    padding:0;
    margin: 0;
}


/*----------MEDIA QUERIES----------*/

@media (min-width: 768px) and (max-width: 991px){
    #navbar{
        display: flex;
        align-items: center;
        height: 10vh;
    }
    
    .logo-wrapper{
        display: flex;
        width: 25%;
        height: 100%;
        align-items: center;
    }
    
    #logo{
        height: 80px;
        
    }
    
    .nav-link{
        padding:20px;
        font-size: 18px;
    }
    
    #nav-list{
        display: none;
    }
    
    .nav-content{
        display: flex;
        width: 100vw;
    }
    
    #mobile-banner-wrapper{
        height:300px;
    }
    
    #mobile-banner-text{
        font-size: 50px;
    }
    
    #welcome-text{
        font-size: 50px;
        margin:auto;
    }
    
    #welcome-paragraph{
        font-size: 25px;
        line-height: 45px;
    }
    
    .card{
        width: 75vw;
        
    }
    
    .card-img img{
        height:400px;
    }
    
    .card-text{
        height: 100px;
    }
    
    .card-text h3{
        font-size: 45px;
        margin-top: -20px;
    }
    
    .card-text p{
        font-size: 30px;
    }
    
    .footer-links{
        font-size:30px;
    }
    
    .copywright-wrapper{
        height: 200px;
    }
    
    .copywright-text{
        font-size: 25px;
    }
    }























